<div class="container-fluid margin">
    <div class="jumbotron cntr">

      <div class="row">
        <div class="col-md-6">
          <b>Contact Us</b><br>
          975 River Side Road<br>
          Email: testmail.com@test.com<br>
          Phone:+1223445566
        </div>
        <div class="col-md-6">
          <b>Connect with us </b>
          <span><a href="#"><img src="/assets/facebook-96.png" height=50px width=50px></a></span>          
          <span><a href="#"><img src="/assets/linkedin-96.png" height=50px width=50px></a></span>
          <span><a href="#"><img src="/assets/twitter-96.png" height=50px width=50px></a></span>
          <span><a href="#"><img src="/assets/topic-96.png" height=50px width=50px></a></span>


        </div>
      </div>



        
     </div>
     <p class="text-style">
        Proudly Powered by <a href="https://cosmicjs.com/">Cosmic JS</a>
      </p>
    </div>