

<div class="container-fluid">
  <div class="jumbotron cntr">
  <h1>Angular 7 Boilerplate</h1>
   </div>


   <div>
      <ul>
      <li>
          <span (click)="homeCall()">Home</span>
        </li>
      <li>
        <span (click)="servicesCall()">Services</span>
        </li>
      <li>
        <span (click)="portfolioCall()">Portfolio</span>
        </li>
      <li>
        <span (click)="aboutCall()">About Us</span>
        </li>
        <li>
          <span (click)="contactCall()">Contact Us</span>
        </li>
    </ul>
    </div> 


  </div>
  
   